.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &:first-child {
        margin: 0;
    }
    &__item {
        margin-left: 10px;
    }
    &__link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: #afb1b8;
    }
    &__link:hover,
    &__link:hover  {
        color: $primary-light-txt;
        background-color: $background-accent-clr;
    }
    &__icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: currentColor;
    }
}

