$main-font: 'Roboto',sans-serif;
$secondary-font: 'Raleway',sans-serif;

$primary-light-txt: #ffffff;
$secondary-ligth-txt: #757575;
$background-accent-clr: #2196f3;
$primary-dark-txt: #212121;
$secondary-light-background: #f5f4fa;
$dark-background: #2f303a;